﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="PR_01._12._01_Veeb.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

        </div>
        Sisesta nimi<p>
            <asp:TextBox ID="TextBox1" runat="server" BackColor="#FFFFCC"></asp:TextBox>
        </p>
        <p>
            <asp:Label ID="Label1" runat="server" Font-Size="XX-Large" ForeColor="#CC3300" Text="Label"></asp:Label>
        </p>
        <p>
            <asp:Button ID="Button1" runat="server" BackColor="#FFFFCC" Font-Bold="True" ForeColor="#009999" Height="50px" OnClick="Button1_Click" Text="Vajuta siia!" Width="188px" />
        </p>
        <p>
            <asp:GridView ID="GridView1" runat="server" BackColor="#CCFF33" BorderColor="White" BorderStyle="None" GridLines="Horizontal">
                <PagerSettings Visible="False" />
            </asp:GridView>
        </p>
    </form>
</body>
</html>

